.card {
	width: 300px;
	height: 300px;
	background-color: #c5a59d;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 1s ease;
}

.card-outside,
.card-inside {
	position: absolute;
	right: 0;
	width: 300px;
	height: 300px;
}

.card-outside {
	z-index: 100;
	perspective: 1000px;
}

.card-inside {
	z-index: 99;
}

.card-outside-container {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transform-origin: left;
	transition: all 1s ease;
}

.card:hover .card-outside-container {
	transform: rotateY(-180deg);
}

.card:hover {
	width: 600px;
}

.card-front,
.card-back {
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
	background-color: #c5a59d;
}

.card-front-top {
	width: 100%;
	height: 240px;
	background-color: linear-gradient(to bottom, #ff73b9, #ff40a1);
	clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
}

.card-back-top {
	width: 100%;
	height: 240px;
	background-color: linear-gradient(to bottom, #ff73b9, #ff40a1);
	/* clip-path: polygon(0 0,100% 0,100% 90%,57% 90%,50% 100%,43% 90%,0 90%); */
}

.card-front-top img,
.card-back-top img {
	width: 100%;
	height: 100%;
}

.card-front-bot {
	font-size: 26px;
	color: #efe9e9;
	font-weight: 800;
	text-align: center;
}

.card-back {
	transform: rotateY(180deg);
}

.video-container {
	width: 100%;
	height: 100%;
	object-fit: cover;
	clip-path: polygon(0 0, 100% 0, 90% 50%, 100% 100%, 0 100%);
}

.card-inside-container {
	width: 300px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	font-size: 24px;
	color: #efe9e9;
	font-weight: 800;
	padding: 20px;
	box-sizing: border-box;
}

.card-inside-container p {
	color: #333;
	font-size: 20px;
}

p:hover {
	text-shadow: 0 0 30px black;
}

.HDAcontainer {
	display: flex;
	flex-direction: column;
	height: 700px;
}

.card h3 {
	margin-bottom: 0;
}